.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * 30px);
    }
    &__item {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }
    &__link {
        color: #AFB1B8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--secondary-color);
            border-color: var(--secondary-color);
        }
    }

    &__icon {
        fill: currentColor;
    }
}
@media (min-width: 768px) {
    .clients{
        max-width: 768px;
        &__item {
            flex-basis: calc(100% / 3 - 30px);
        }
    }
}

@media (min-width: 1200px) {
    .clients {
        max-width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;

        &__list {
            flex-wrap: nowrap;
            margin-top: 50px;
        }
    }
}