.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding: 24px 0 25px;

    &--accent {
        color: var(--secondary-color);
    }
    &--dark {
        color: var(--primary-color);
    }
    &--light {
        color: #ffffff;
    }
}