.main {
    padding: 94px 0;
}
.filter__list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.filter__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}
.filter__button {
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--secondary-color);
        color: #ffffff;
        cursor: pointer;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.product-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: calc(100% / 3 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;

        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);

        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
    &__overlay {
        position: relative;
        overflow: hidden;
    }

    &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.03em;
        background-color: rgba(33, 150, 243, 0.9);
        color: #ffffff;
    }

    &__box {
        border: 1px solid #EEEEEE;
        padding: 20px 24px;
        border-top: none;
    }

    &__title {
        color: var(--primary-color);
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__description {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--extra-main-color);
    }  
}

.product-list__link:hover .product-list__text {
    display: block;
    transform: translateY(-100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



