.main {
    padding-top: 60px;
    padding-bottom: 60px;
}
.filter__list {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.filter__item {
    margin-right: 8px;
    margin-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }
}
.filter__button {
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--secondary-color);
        color: #ffffff;
        cursor: pointer;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.product-list {
    &__item {
        margin-top: 30px;
    }
    &__link {
        max-width: 450px;
    }
    &__overlay {
        position: relative;
        overflow: hidden;
    }
    &__img {
        width: 100%;
    }

    &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 77px 24px;
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.03em;
        background-color: rgba(33, 150, 243, 0.9);
        color: #ffffff;
    }

    &__box {
        border: 1px solid #EEEEEE;
        padding: 20px 24px;
        border-top: none;
    }

    &__title {
        color: var(--primary-color);
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__description {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--extra-main-color);
    }
}
.product-list__link:hover .product-list__text {
        display: block;
        transform: translateY(-100%);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
@media (min-width: 768px) {
    .filter__list {
        max-width: 768px;
        justify-content: center;
        flex-wrap: nowrap;
        padding-bottom: 30px;
    }
    .product-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        &__item {
            flex-basis: calc(100% / 2 - 30px);
           margin: 15px;
        }
        &__link {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &__text {
            padding-top: 49px;
            padding-bottom: 49px;
        }
        &__box {
            flex-grow: 1;
        }
    }
}
@media (min-width: 1200px) {
    .main {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .filter__list {
        max-width: 1200px;
    }
    .product-list {
        &__text {
            padding-top: 63px;
            padding-bottom: 63px;
        }
        &__item {
            flex-basis: calc(100% / 3 - 30px);
        }
    }
}



