.section__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
    .section__title {
        font-size: 36px;
        line-height: 1.16;
    }
}