.team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    &__item {
        margin-top: 30px;
        display: block;
        max-width: 100%;
        height: auto;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;
    }
    &__thumb {
        display: block;
        margin: 0;
        max-width: 100%;
        height: auto;
    }
    &__img {
        width: 100%;
    }
    &__wrapper {
        padding-top: 30px;
        padding-bottom: 24px;
    }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--extra-main-color);
        text-align: center;
        margin-bottom: 16px;
    }
}
.team-social {

    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #AFB1B8;

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--secondary-color);
            color: #ffffff;
        }
    }

    &__icon {
        fill: currentColor;
    }
}

@media (min-width: 768px) {
    .team {
        &__list {
            display: flex;
            flex-wrap: wrap;
            max-width: 768px;
            margin-left: calc(-1 * 30px);
            margin-right: 0;
        }
        &__item {
            flex-basis: calc(100% / 2 - 30px);
            margin-left: 30px;
            margin-top: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .team {
        padding-top: 94px;
        padding-bottom: 94px;

        &__list {
            flex-wrap: nowrap;
            max-width: 1200px;
        }

        &__item {
            flex-basis: calc(100% / 4 - 30px);
            margin-top: 50px;
        }
    }
}