.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        margin-top: 50px;
        display: flex;
    }
    &__item {
        flex-basis: calc(100% / 4 - 30px);
        margin-right: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10),
            0px 1px 1px rgba(0, 0, 0, 0.10),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;

        &:last-child {
            margin-right: 0;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        text-align: center;
        padding: 30px 0 10px;
    }
    &__description {
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--extra-main-color);
        text-align: center;
        padding-bottom: 16px;
    }
}
.team-social {
    
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0 32px 30px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #AFB1B8;

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--secondary-color);
            color: #ffffff;
        }
    }
    &__icon {
        fill: currentColor;
    }
}